* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Satisfy', cursive;
}

.container {
  margin: 0 auto;
  min-height: 1px;
  max-width: 1100px;
  width: 100%;
}

.parallax {
  background-image: url("../images/batch_main.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#header {
  width: 100%;

.menu{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  display: none;
  flex-wrap: nowrap;
  background-color: white;
  justify-content: space-around;
  height: 60px;
}
    .menuList {
      ul {
        list-style: none;
        margin-right: 10px;
        text-align: center;
      }

      li {

        font-weight: 100;
        display: inline-block;
        font-size: 25px;
        padding: 13px 20px 8px;
        margin: 0 3rem;
        &:hover{
          border-bottom : 4px solid #c19e7e;
        }
        a{
          text-decoration: none;
          color: #4a3821;

      }
    }
  }
}

#about {
  position: relative;
  height: 700px;
  margin-top: -60px;
  padding-top:60px;
  display: block;
  .info {
    margin-top:60px;
    height: 500px;
    display: flex;
    justify-content: space-between;

    .img {
      background-image: url("../images/IMG_4027 1.jpg");
      background-position: center;
      background-size: cover;
      height: 500px;
      width: 45%;
      opacity: 0;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 6px 7px grey;

    }

    .aboutMe {
      margin-top: 170px;
      width: 45%;
      height: 200px;
      position: relative;
      opacity: 0;
      text-align: justify;
    }

    .in-view {
      animation: pokaz 3s forwards;
      z-index: 1;
    }

    .in-view2 {
      animation: pokaz2 2s 1s forwards;
      z-index: 1;
    }
  }
}
@keyframes pokaz {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes pokaz2 {
  0% {
    opacity: 0;
    right: -100px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

// .parallax2 {
//   background-image: url("../images/batch_main.jpg");
//   width: 100vw;
//   height: 100px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.5;
// }
.parallax2 {
  background-image: url("../images/Image-09.jpg");
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#architecture {
    .content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img{
        width: 24%;
        height: 100%;
      }
      .big{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        background:rgba(255,255,255,0.7);
        .prev{
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          left:10%;
        }
        .next{
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top:50%;
          right:10% ;
          transform: translateY(-50%);
        }
        img{
          display: block;
          margin: 0px auto;
          margin-bottom: 100px;
          width: 900px;
          height: 600px;

        }
      }
    }

}
.parallax3 {
  background-image: url("../images/P1110034.jpg");
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#landscape {
  height: 600px;
  margin-top:-60px;
  padding-top:120px;
  display: block;
  p{
    font-size: 40px;
    text-align: center;
  }
  .flip-container{

    margin: 0 auto;
    perspective: 10000px;
    width: 100%;
    max-width: 1100px;
    height: 500px;
    &:hover .flipper{
      transform: rotateY(180deg);
    }
    .front, .back{
      width: 100%;
      height: 500px;
      backface-visibility: hidden;
      -webkit-backface-visibility:hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
      }
      .front{
        background-image: url("../images/P1110049.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
        // opacity: 0.6;
      }
      .back{
        // background-image: url("../images/P1010548.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotateY(180deg);
        p{
          text-align: center;
          font-size: 100px;
          margin-top:180px;
        }
      }
    .flipper{
      transition: 1.2s;
      transform-style: preserve-3d;
      position: relative;
    }
  }
}
