* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poiret One', cursive;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 100vh;

  .circle {
    position: relative;
    top: 25%;
    animation: spin 4s infinite;
    margin: 0 auto;
    border: 5px solid transparent;
    border-top: 5px solid #4a3821;
    border-bottom: 5px solid #4a3821;
    border-radius: 50%;

    width: 300px;
    height: 300px;

    .innerCircle {
      position: absolute;
      top: 25%;
      left: 25%;
      transform: translate(-50%, -50%);
      animation: spin2 2s infinite;
      border: 5px solid transparent;
      border-top: 5px solid #c19e7e;
      border-bottom: 5px solid #c19e7e;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }

    100% {
      transform: rotate(360deg);
      animation-timing-function: linear;
    }
  }

  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }

    100% {
      transform: rotate(-360deg);
      animation-timing-function: linear;
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  min-height: 1px;
}

.parallax {
  position: relative;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url('../images/baner_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #c19e7e;
    background-color: #fff;
    width: 50%;
    height: 300px;

    p {
      display: block;
      margin-top: 30px;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 4vw;
      font-weight: 700;
    }

    span {
      display: block;
      margin: 20px auto;
      border-top: 2px solid #c19e7e;
      width: 50%;
    }
  }
}

#header {
  width: 100%;

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: nowrap !important;
    justify-content: space-around;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 60px;
    backface-visibility: hidden;
    -webkit-flex-wrap: wrap !important; /* Safari 6.1+ */
  }

  .fa-bars {
    display: none;
  }

  .fa-times {
    display: none;
  }

  .menuList {
    ul {
      margin-right: 15px;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block !important;
      margin: 0 3rem;
      padding: 14px 15px 14px 0;
      font-size: 23px;
      font-weight: 100;

      &:hover {
        border-bottom: 4px solid #c19e7e;
      }

      a {
        text-decoration: none;
        color: #4a3821;
      }
    }
  }
}

#about {
  display: block;
  position: relative;
  margin-top: -60px;
  padding-top: 60px;
  height: 700px;

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 500px;

    .img {
      position: relative;
      opacity: 0;
      margin-left: 10px;
      border-radius: 50%;
      box-shadow: 0 6px 7px grey;
      background-image: url('../images/portret.jpg');
      background-position: center;
      background-size: cover;
      width: 45%;
      height: 500px;
    }

    .aboutMe {
      position: relative;
      opacity: 0;
      margin-top: 170px;
      margin-right: 50px;
      width: 45%;
      height: 200px;
      text-align: justify;
    }

    .in-view {
      animation: pokaz 3s forwards;
      z-index: 1;
    }

    .in-view2 {
      animation: pokaz2 2s 1s forwards;
      z-index: 1;
    }
  }
}
@keyframes pokaz {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes pokaz2 {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.parallax2 {
  opacity: 0.5;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url('../images/parallax1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#architecture {
  position: relative;
  height: 900px;

  .architecturePics {
    padding-left: 30px;
    text-decoration: none;

    li {
      display: none;
      float: left;
      margin: 10px;
      width: 31%;
      height: 200px;
      list-style: none;
      text-decoration: none;
    }

    img {
      transform: scale(1);
      transition: all 200ms ease-in;
      box-shadow: 0 0 3px grey;
      cursor: pointer;
      width: 100%;
      height: 200px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1.05);
        transition: all 200ms ease-in;
        box-shadow: 0 0 6px grey;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);
      }
    }

    .big {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      margin: 0 auto;
      margin-top: 60px;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      max-width: 1920px;
      height: 100%;

      .prev {
        position: absolute;
        top: 310px;
        left: 50%;
        transform: translate(-514px, -50%);
        z-index: 2;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 134px;
      }

      .next {
        position: absolute;
        top: 310px;
        right: 50%;
        transform: translate(527px, -50%);
        z-index: 2;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 134px;
      }

      .cross {
        position: absolute;
        top: 37px;
        right: 50%;
        transform: translate(460px, -50%);
        z-index: 5;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 55px;
      }

      img {
        display: block;
        position: relative;
        transform: none;
        transition: none;
        margin: 10px auto 0;
        box-shadow: 0 0 10px grey;
        cursor: default;
        width: 900px;
        height: 600px;
        -webkit-transition: none;
        -webkit-transform: none;
        -ms-transition: none;
        -ms-transform: none;
        -moz-transition: none;
        -moz-transform: none;
      }
    }
  }

  .less,
  .more {
    position: absolute;
    cursor: pointer;
    color: #c19e7e;
    font-size: 145px;
  }

  .more {
    bottom: 20px;
    left: 15%;
    transform: scale(1);
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);

    &:hover {
      transform: scale(1.2);
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.2);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.2);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.2);
    }
  }

  .less {
    bottom: 110px;
    left: 80%;
    transform: scale(1);
    transition: all 200ms ease-in;
    width: 100px;
    height: 60px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);

    &:hover {
      transform: scale(1.2);
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.2);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.2);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.2);
    }
  }
}

.parallax3 {
  opacity: 0.5;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url('../images/parallax2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

#landscape {
  height: 850px;

  .landscapePics {
    padding-left: 30px;
    text-decoration: none;

    li {
      display: none;
      float: left;
      margin: 10px;
      width: 31%;
      height: 200px;
      list-style: none;
      text-decoration: none;
    }

    img {
      transform: scale(1);
      transition: all 200ms ease-in;
      box-shadow: 0 0 3px grey;
      cursor: pointer;
      width: 100%;
      height: 200px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1.05);
        transition: all 200ms ease-in;
        box-shadow: 0 0 6px grey;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);
      }
    }

    .big {

      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      margin: 0 auto;
      margin-top: 60px;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      max-width: 1920px;
      height: 100%;

      .prev {
        position: absolute;
        top: 310px;
        left: 50%;
        transform: translate(-514px, -50%);
        z-index: 2;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 134px;
      }

      .next {
        position: absolute;
        top: 310px;
        right: 50%;
        transform: translate(527px, -50%);
        z-index: 2;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 134px;
      }

      .cross {
        position: absolute;
        top: 37px;
        right: 50%;
        transform: translate(460px, -50%);
        z-index: 5;
        cursor: pointer;
        width: 60px;
        color: #c19e7e;
        font-size: 55px;
      }

      img {
        display: block;
        position: relative;
        transform: none;
        transition: none;
        margin: 10px auto 0;
        box-shadow: 0 0 10px grey;
        cursor: default;
        width: 900px;
        height: 600px;
        -webkit-transition: none;
        -webkit-transform: none;
        -ms-transition: none;
        -ms-transform: none;
        -moz-transition: none;
        -moz-transform: none;
      }
    }
  }

  .less,
  .more {
    cursor: pointer;
    width: 50px;
    text-align: center;
    color: #c19e7e;
    font-size: 70px;
  }

  .less:after,
  .more:after {
    display: block;
    clear: both;
    content: '';

  }

  .more {
    float: left;
    margin-left: 165px;
  }

  .less {
    float: right;
    transform: rotate(180deg);
    margin-right: 165px;
  }
}

.parallax4 {
  opacity: 0.5;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url('../images/image24.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#contact {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  height: 150px;

  .phone {
    display: flex;
    justify-content: space-around;
    width: 31%;
    height: 80px;

    .fa {
      border: 0;
      width: 10%;
      color: #c19e7e;
      font-size: 50px;

    }

    p {
      margin-top: 7px;
      width: 70%;
      color: #c19e7e;
      font-size: 25px;
    }
  }

  .mail {
    display: flex;
    justify-content: space-around;
    width: 31%;
    height: 80px;

    .fa {
      border: 0;
      width: 10%;
      color: #c19e7e;
      font-size: 50px;
    }

    a {
      margin-top: 7px;
      cursor: pointer;
      width: 70%;
      text-decoration: none;
      color: #c19e7e;
      font-size: 25px;
    }
  }
}

footer {
  background-color: #c19e7e;
  height: 150px;

  .socialMedia {
    display: flex;
    justify-content: space-around;

    i {
      transform: scale(1);
      transition: all 200ms ease-in;
      margin-top: 50px;
      cursor: pointer;
      color: white;
      font-size: 50px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1.2);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
      }
    }
  }
}

@media only screen and (max-width: 985px) {
  #header {
    width: 100%;

    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-wrap: nowrap !important;
      justify-content: space-around;
      z-index: 2;
      background-color: white;
      width: 100%;
      height: 50px;
      backface-visibility: hidden;
      -webkit-flex-wrap: nowrap !important;; /* Safari 6.1+ */
    }

    .fa-bars {
      display: none;
}

    .fa-times {
      display: none;
}

    .menuList {
      ul {
        margin-right: 10px;
        list-style: none;
        text-align: center;
      }

      li {
        display: inline-block !important;
        margin: 0 0.5rem;
        padding: 13px 15px 8px 0;
        font-size: 19px;
        font-weight: 100;

        &:hover {
          border-bottom: 4px solid #c19e7e;
        }

        a {
          cursor: pointer;
          text-decoration: none;
          color: #4a3821;
        }
      }
    }
  }

  #contact {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    height: 150px;

    .phone {
      display: flex;
      justify-content: space-around;
      width: 31%;
      height: 80px;

      .fa {
        border: 0;
        width: 10%;
        color: #c19e7e;
        font-size: 40px;
      }

      p {
        margin-top: 7px;
        width: 70%;
        color: #c19e7e;
        font-size: 20px;
      }
    }

    .mail {
      display: flex;
      justify-content: space-around;
      width: 31%;
      height: 80px;

      .fa {
        border: 0;
        width: 10%;
        color: #c19e7e;
        font-size: 40px;
      }

      a {
        margin-top: 7px;
        cursor: pointer;
        width: 70%;
        text-decoration: none;
        color: #c19e7e;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 694px) {
  #header {
    width: 100%;

    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-wrap: nowrap !important;
      justify-content: space-around;
      z-index: 2;
      background-color: white;
      width: 100%;
      height: 40px;
      backface-visibility: hidden;
      -webkit-flex-wrap: wrap !important;
    }

    .fa-bars {
      display: block;
      position: absolute;
      top: 0;
      left: 30px;
      margin: 0;
      cursor: pointer;
      color: #c19e7e;
      font-size: 40px;
    }

    .fa-times {
      display: block;
      position: absolute;
      top: 0;
      left: 30px;
      margin: 0;
      cursor: pointer;
      color: #c19e7e;
      font-size: 40px;
    }

    .burgerList {
      width: 100%;
      height: 40px;

      ul {
        position: relative;
        top: 30px;
        margin-right: 0;
        background-color: white;
        width: 100%;
        list-style: none;
        text-align: center;
      }

      li {
        display: none;
        margin: 10px 0;
        padding: 0;
        width: 100%;
        font-size: 40px;
        font-weight: 100;

        &:hover {
          border-bottom: 0;
          background-color: #c19e7e;

          a {
            color: white;
          }
        }

        a {
          cursor: pointer;
          width: 100%;
          text-decoration: none;
          color: #4a3821;
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 80px;
    height: 150px;

    .phone {
      display: flex;
      justify-content: space-around;
      width: 80%;
      height: 80px;

      .fa {
        margin-right: 20px;
        border: 0;
        width: 40%;
        text-align: right;
        color: #c19e7e;
        font-size: 40px;

      }

      p {
        margin-top: 7px;
        width: 60%;
        text-align: left;
        color: #c19e7e;
        font-size: 20px;
      }
    }

    .mail {
      display: flex;
      justify-content: space-around;
      width: 80%;
      height: 80px;

      .fa {
        margin-right: 20px;
        border: 0;
        width: 40%;
        text-align: right;
        color: #c19e7e;
        font-size: 40px;
      }

      a {
        margin-top: 7px;
        cursor: pointer;
        width: 60%;
        text-align: left;
        text-decoration: none;
        color: #c19e7e;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #about {
    display: block;
    position: relative;
    margin-top: -60px;
    padding-top: 60px;
    height: 1000px;

    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 60px;
      height: 500px;

      .img {
        position: relative;
        opacity: 0;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 6px 7px grey;
        background-image: url('../images/portret.jpg');
        background-position: center;
        background-size: cover;
        width: 70%;
        height: 500px;
      }

      .aboutMe {
        position: relative;
        opacity: 0;
        margin: 100px auto;
        width: 90%;
        height: 200px;
        text-align: justify;
      }

      .in-view {
        animation: pokaz 3s forwards;
        z-index: 1;
      }

      .in-view2 {
        animation: pokaz2 2s 1s forwards;
        z-index: 1;
      }
    }
  }

  @keyframes pokaz {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes pokaz2 {
    0% {
      right: -100px;
      opacity: 0;
    }

    100% {
      right: 0;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1060px) {
  #architecture {
    height: 900px;

    .architecturePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 31%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        margin-top: 60px;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 1920px;
        height: 100%;

        .prev {
          position: absolute;
          top: 250px;
          left: 50%;
          transform: translate(-435px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .next {
          position: absolute;
          top: 250px;
          right: 50%;
          transform: translate(447px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(384px, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto 0;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 750px;
          height: 500px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }

      .less,
      .more {
        position: relative;
        cursor: pointer;
        color: #c19e7e;
        font-size: 145px;
      }

      .more {
        bottom: 48px;
        left: 15%;
        transform: scale(1);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.2);
          transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
        }
      }

      .less {
        bottom: 48px;
        left: 71%;
        transform: scale(1);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.2);
          transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
        }
      }
    }
  }

  #landscape {
    height: 900px;

    .landscapePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 31%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        margin-top: 60px;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 1920px;
        height: 100%;

        .prev {
          position: absolute;
          top: 250px;
          left: 50%;
          transform: translate(-435px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .next {
          position: absolute;
          top: 250px;
          right: 50%;
          transform: translate(447px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(384px, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 750px;
          height: 500px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 910px) {
  .parallax {
    position: relative;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: url('../images/baner_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #c19e7e;
      background-color: #fff;
      width: 50%;
      height: 300px;

      p {
        display: block;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 4vw;
        font-weight: 700;
      }

      span {
        display: block;
        margin: 40px auto;
        border-top: 2px solid #c19e7e;
        width: 50%;
      }
    }
  }

  #architecture {
    height: 700px;

    .architecturePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 45%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 1920px;
        height: 100%;

        .prev {
          position: absolute;
          top: 220px;
          left: 50%;
          transform: translate(-365px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .next {
          position: absolute;
          top: 220px;
          right: 50%;
          transform: translate(375px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(314px, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 90%;
          max-width: 600px;
          height: 100%;
          max-height: 400px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }
    }

    .less,
    .more {
      position: absolute;
      cursor: pointer;
      color: #c19e7e;
      font-size: 145px;
    }

    .more {
      bottom: 20px;
      left: 15%;
      transform: scale(1);
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1.2);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
      }
    }

    .less {
      bottom: 110px;
      left: 80%;
      transform: scale(1);
      transition: all 200ms ease-in;
      width: 100px;
      height: 60px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1.2);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
      }
    }
  }

  #landscape {
    height: 1300px;

    .landscapePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 45%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {

        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 1920px;
        height: 100%;

        .prev {
          position: absolute;
          top: 220px;
          left: 50%;
          transform: translate(-365px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .next {
          position: absolute;
          top: 220px;
          right: 50%;
          transform: translate(375px, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 134px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(314px, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 90%;
          max-width: 600px;
          height: 100%;
          max-height: 400px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .parallax {
      margin: 0 auto;
      background-attachment: fixed;
      background-image: url('../images/baner_1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      max-width: 700px;
      overflow: hidden;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;

      .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #c19e7e;
        background-color: #fff;
        width: 50%;
        height: 300px;

        p {
          display: block;
          margin-top: 50px;
          width: 100%;
          text-align: center;
          color: #000;
          font-size: 4.5vw;
          font-weight: 700;
        }

        span {
          display: block;
          margin: 40px auto;
          border-top: 2px solid #c19e7e;
          width: 50%;
        }
      }
    }

    .parallax2 {
      opacity: 0.5;
      margin: 0 auto;
      background-attachment: fixed;
      background-image: url('../images/parallax1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      max-width: 700px;
      height: 300px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }

    .parallax3 {
      opacity: 0.5;
      margin: 0 auto;
      background-attachment: fixed;
      background-image: url('../images/parallax2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      max-width: 700px;
      height: 300px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
  }
}

@media only screen and (max-width: 500px ){
  .parallax {
    margin: 0 auto;
    background-attachment: scroll;
    background-image: url('../images/baner_2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 0;
    width: 100%;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #c19e7e;
      background-color: #fff;
      width: 50%;
      height: 35%;

      p {
        display: block;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 4vw;
        font-weight: 700;
      }

      span {
        display: block;
        margin: 30px auto;
        border-top: 2px solid #c19e7e;
        width: 50%;
      }
    }
  }

  #about {
    display: block;
    position: relative;
    margin-top: -60px;
    padding-top: 60px;
    height: 1100px;

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      height: 500px;

      .img {
        position: relative;
        opacity: 1;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 6px 7px grey;
        background-image: url('../images/portret.jpg');
        background-position: center;
        background-size: cover;
        width: 80%;
        height: 500px;
      }

      .aboutMe {
        position: relative;
        opacity: 1;
        margin: 0 auto;
        margin-top: 100px;
        width: 80%;
        height: 400px;
        text-align: justify;
      }

      .in-view {
        animation: none;
        z-index: 1;
      }

      .in-view2 {
        animation: pokaz2 2s 1s forwards;
        animation-play-state: paused;
        z-index: 1;
      }
    }
  }

  @keyframes pokaz {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes pokaz2 {
    0% {
      right: -100px;
      opacity: 0;
    }

    100% {
      right: 0;
      opacity: 1;
    }
  }

  .parallax2 {
    opacity: 0.5;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: url('../images/parallax1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #architecture {
    height: 1100px !important;

    .architecturePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 85%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 500px;
        height: 100%;

        .prev {
          position: absolute;
          top: 150px;
          left: 50%;
          transform: translate(-360%, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 92px;
        }

        .next {
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translate(400%, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 92px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(320%, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 90%;
          max-width: 600px;
          height: 100%;
          max-height: 300px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }
    }

    .less,
    .more {
      position: relative;
      cursor: pointer;
      color: #c19e7e;
      font-size: 145px;
    }

    .more {
      bottom: 48px;
      left: 15%;
      transform: scale(1);
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
      }
    }

    .less {
      bottom: 48px;
      left: 25%;
      transform: scale(1);
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);

      &:hover {
        transform: scale(1);
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
      }
    }
  }

  .parallax3 {
    opacity: 0.5;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: url('../images/parallax2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #landscape {
    height: 2200px;

    .landscapePics {
      padding-left: 30px;
      text-decoration: none;

      li {
        display: none;
        float: left;
        margin: 10px;
        width: 85%;
        height: 200px;
        list-style: none;
        text-decoration: none;
      }

      img {
        transform: scale(1);
        transition: all 200ms ease-in;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.05);
          transition: all 200ms ease-in;
          box-shadow: 0 0 6px grey;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
        }
      }

      .big {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 500px;
        height: 100%;

        .prev {
          position: absolute;
          top: 150px;
          left: 50%;
          transform: translate(-360%, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 92px;
        }

        .next {
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translate(400%, -50%);
          z-index: 2;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 92px;
        }

        .cross {
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(320%, -50%);
          z-index: 5;
          cursor: pointer;
          width: 60px;
          color: #c19e7e;
          font-size: 55px;
        }

        img {
          display: block;
          position: relative;
          transform: none;
          transition: none;
          margin: 10px auto;
          box-shadow: 0 0 10px grey;
          cursor: default;
          width: 90%;
          max-width: 600px;
          height: 100%;
          max-height: 300px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
        }
      }
    }

    .less,
    .more {
      cursor: pointer;
      width: 50px;
      text-align: center;
      color: #c19e7e;
      font-size: 70px;
    }

    .less:after,
    .more:after {
      display: block;
      clear: both;
      content: '';

    }

    .more {
      float: left;
      margin-left: 165px;
    }

    .less {
      float: right;
      transform: rotate(180deg);
      margin-right: 165px;
    }
  }

  .parallax4 {
    opacity: 0.5;
    margin: 0 auto;
    background-attachment: fixed;
    background-image: url('../images/image24.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  footer {
    background-color: #c19e7e;
    height: 150px;

    .socialMedia {
      display: flex;
      justify-content: space-around;

      i {
        transform: scale(1);
        transition: all 200ms ease-in;
        margin-top: 50px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);

        &:hover {
          transform: scale(1.2);
          transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
        }
      }
    }
  }
}
