* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Poiret One', cursive;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0px;
  left:0px;
  background-color: white;
  z-index: 1000;
  .circle{
    position: relative;
    top: 25%;
    margin:0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #4a3821;
    border-bottom: 5px solid #4a3821;
    animation: spin 4s infinite;
    .innerCircle{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 25%;
      left: 25%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 5px solid transparent;
      border-top: 5px solid #c19e7e;
      border-bottom: 5px solid #c19e7e;
      animation: spin2 2s infinite;
    }
  }
  @keyframes spin {
    0%{
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
    100%{
        transform: rotate(360deg);
        animation-timing-function: linear;
    }
  }
  @keyframes spin2 {
    0%{
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
    100%{
        transform: rotate(-360deg);
        animation-timing-function: linear;
    }
  }
}
.container {
  margin: 0 auto;
  min-height: 1px;
  max-width: 1100px;
  width: 100%;
}

.parallax {
  margin: 0 auto;
  background-image: url("../images/banner_big.jpg");
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#header {
  width: 100%;

  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    display: none;
    flex-wrap: nowrap;
    background-color: white;
    justify-content: space-around;
    height: 60px;
  }
  .fa-bars{
    display: none;
  }
  .fa-times{
    display: none;
  }
  .menuList {
    ul {
      list-style: none;
      margin-right: 10px;
      text-align: center;
    }

    li {
      font-weight: 100;
      display: inline-block !important;
      font-size: 25px;
      padding: 14px 20px 14px;
      margin: 0 3rem;

      &:hover {
        border-bottom: 4px solid #c19e7e;
      }

      a {
        text-decoration: none;
        color: #4a3821;
      }
    }
  }
}

#about {
  position: relative;
  height: 700px;
  margin-top: -60px;
  padding-top: 60px;
  display: block;

  .info {
    margin-top: 60px;
    height: 500px;
    display: flex;
    justify-content: space-between;

    .img {
      background-image: url("../images/portret.jpg");
      background-position: center;
      background-size: cover;
      height: 500px;
      width: 45%;
      opacity: 0;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 6px 7px grey;
    }

    .aboutMe {
      margin-top: 170px;
      width: 45%;
      height: 200px;
      position: relative;
      opacity: 0;
      text-align: justify;
      margin-right: 50px;
    }

    .in-view {
      animation: pokaz 3s forwards;
      z-index: 1;
    }

    .in-view2 {
      animation: pokaz2 2s 1s forwards;
      z-index: 1;
    }
  }
}
@keyframes pokaz {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes pokaz2 {
  0% {
    opacity: 0;
    right: -100px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}
// .parallax2 {
//   background-image: url("../images/batch_main.jpg");
//   width: 100vw;
//   height: 100px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.5;
// }

.parallax2 {
  margin: 0 auto;
  background-image: url("../images/parallax1.jpg");
  max-width: 1920px;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
}

#architecture {
  height: 900px;
position: relative;
  .architecturePics {
    text-decoration: none;
    padding-left: 30px;


    li {
      float: left;
      width: 31%;
      height: 200px;
      margin: 10px;
      display: none;
      list-style: none;
      text-decoration: none;
    }

    img {
      cursor: pointer;
      width: 100%;
      height: 200px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      box-shadow: 0 0 3px grey;

      &:hover {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);
        transition: all 200ms ease-in;
        transform: scale(1.05);
        box-shadow: 0 0 6px grey;
      }
    }

    .big {
      margin: 0 auto;
      position: fixed;
      margin-top: 60px;
      max-width: 1920px;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 0;
      z-index: 2;
      transform: translateX(-50%);
      background: rgba(255,255,255,0.9);

      .prev {
        font-size: 134px;
        z-index: 2;
        position: absolute;
        top: 310px;
        transform: translate(-514px,-50%);
        left: 50%;
        color: #c19e7e;
        cursor: pointer;
        width: 60px;
      }

      .next {
        width: 60px;
        font-size: 134px;
        z-index: 2;
        position: absolute;
        top: 310px;
        right: 50%;
        transform: translate(527px,-50%);
        color: #c19e7e;
        cursor: pointer;
      }

      .cross {
        width: 60px;
        font-size: 55px;
        z-index: 5;
        position: absolute;
        top: 37px;
        right: 50%;
        transform: translate(460px, -50%);
        color: #c19e7e;
        cursor: pointer;
      }

      img {
        cursor: default;
        position: relative;
        display: block;
        margin: 10px auto 0;
        width: 900px;
        height: 600px;
        -webkit-transition: none;
        -webkit-transform: none;
        -ms-transition: none;
        -ms-transform: none;
        -moz-transition: none;
        -moz-transform: none;
        transition: none;
        transform: none;
        box-shadow: 0 0 10px grey;
      }
    }
  }

  .less,
  .more {
    cursor: pointer;
    color: #c19e7e;
    font-size: 145px;
    position: absolute;
  }
  .more{
    bottom: 20px;
    left:15%;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    &:hover{
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.2);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.2);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.2);
      transition: all 200ms ease-in;
      transform: scale(1.2);
    }
  }
  .less{
    height: 60px;
    width: 100px;
    bottom: 110px;
    left:80%;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    &:hover{
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.2);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.2);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.2);
      transition: all 200ms ease-in;
      transform: scale(1.2);
    }
  }
}

.parallax3 {
  margin: 0 auto;
  background-image: url("../images/parallax2.jpg");
  max-width: 1920px;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
}

#landscape {
  height: 850px;

  .landscapePics {
    text-decoration: none;
    padding-left: 30px;

    li {
      float: left;
      width: 31%;
      height: 200px;
      margin: 10px;
      display: none;
      list-style: none;
      text-decoration: none;
    }

    img {
      cursor: pointer;
      width: 100%;
      height: 200px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      box-shadow: 0 0 3px grey;

      &:hover {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);
        transition: all 200ms ease-in;
        transform: scale(1.05);
        box-shadow: 0 0 6px grey;
      }
    }

    .big {
      margin: 0 auto;
      position: fixed;
      margin-top: 60px;
      max-width: 1920px;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 0;
      z-index: 2;
      transform: translateX(-50%);
      background: rgba(255,255,255,0.9);

      .prev {
        font-size: 134px;
        z-index: 2;
        position: absolute;
        top: 310px;
        transform: translate(-514px,-50%);
        left: 50%;
        color: #c19e7e;
        cursor: pointer;
        width: 60px;
      }

      .next {
        width: 60px;
        font-size: 134px;
        z-index: 2;
        position: absolute;
        top: 310px;
        right: 50%;
        transform: translate(527px,-50%);
        color: #c19e7e;
        cursor: pointer;
      }

      .cross {
        width: 60px;
        font-size: 55px;
        z-index: 5;
        position: absolute;
        top: 37px;
        right: 50%;
        transform: translate(460px, -50%);
        color: #c19e7e;
        cursor: pointer;
      }

      img {
        cursor: default;
        position: relative;
        display: block;
        margin: 10px auto 0;
        width: 900px;
        height: 600px;
        -webkit-transition: none;
        -webkit-transform: none;
        -ms-transition: none;
        -ms-transform: none;
        -moz-transition: none;
        -moz-transform: none;
        transition: none;
        transform: none;
        box-shadow: 0 0 10px grey;
      }
    }
  }

  .less,
  .more {
    cursor: pointer;
    text-align: center;
    font-size: 70px;
    width: 50px;
    color: #c19e7e;
  }

  .less:after,
  .more:after {
    clear: both;
    content: "";
    display: block;
  }

  .more {
    float: left;
    margin-left: 165px;
  }

  .less {
    float: right;
    margin-right: 165px;
    transform: rotate(180deg);
  }
}
.parallax4 {
  margin: 0 auto;
  background-image: url("../images/image24.jpg");
  max-width: 1920px;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
}

#contact {
  height: 150px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  .phone{
    width: 31%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    .fa{
      font-size: 50px;
      width: 10%;
      color:#c19e7e;
      border: none;
    }
    p{
      margin-top: 7px;
      font-size: 25px;
      width: 70%;
       color: #c19e7e;
    }
  }
  .mail{
    width: 31%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    .fa{
      font-size: 50px;
      width: 10%;
      color:#c19e7e;
      border: none;
    }
    a{
      margin-top: 7px;
      font-size: 25px;
      width: 70%;
       color: #c19e7e;
       text-decoration: none;
       cursor: pointer;
    }
  }
}
footer{
  height: 150px;
  background-color: #c19e7e;
  .socialMedia{
    display: flex;
    justify-content: space-around;
    i{
      cursor: pointer;
      margin-top: 50px;
      font-size: 50px;
      color: white;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
        transform: scale(1.2);
      }
    }
  }
}
@media only screen and (max-width:985px) {
  #header {
    width: 100%;

    .menu {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      width: 100%;
      display: none;
      flex-wrap: nowrap;
      background-color: white;
      justify-content: space-around;
      height: 50px;
    }
.fa-bars{
  display: none;
}
.fa-times{
  display: none;
}
    .menuList {
      ul {
        list-style: none;
        margin-right: 10px;
        text-align: center;
      }

      li {
        font-weight: 100;
        display: inline-block !important;
        font-size: 20px;
        padding: 13px 20px 8px;
        margin: 0 1rem;

        &:hover {
          border-bottom: 4px solid #c19e7e;
        }

        a {
          text-decoration: none;
          color: #4a3821;
          cursor: pointer;
        }
      }
    }
  }
  #contact {
    height: 150px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    .phone{
      width: 31%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      .fa{
        font-size: 40px;
        width: 10%;
        color:#c19e7e;
        border: none;
      }
      p{
        margin-top: 7px;
        font-size: 20px;
        width: 70%;
         color: #c19e7e;
      }
    }
    .mail{
      width: 31%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      .fa{
        font-size: 40px;
        width: 10%;
        color:#c19e7e;
        border: none;
      }
      a{
        margin-top: 7px;
        font-size: 20px;
        width: 70%;
         color: #c19e7e;
         text-decoration: none;
         cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width:679px) {
  #header {
    width: 100%;
    .menu {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      width: 100%;
      display: none;
      flex-wrap: nowrap;
      background-color: white;
      justify-content: space-around;
      height: 40px;
    }
    .fa-bars{
      display: block;
      color:#c19e7e;
      font-size: 40px;
    margin: 0px 0px;
    position: absolute;
    top: 0px;
    left: 30px;
    cursor: pointer;
    }
    .fa-times{
      display: block;
      color: #c19e7e;
      font-size: 40px;
    margin: 0px 0;
    position: absolute;
    top: 0px;
    left: 30px;
    cursor: pointer;
    }
    .burgerList {
      width: 100%;
      height: 40px;
      ul {
        list-style: none;
        text-align: center;
        background-color: white;
        position: relative;
        margin-right: 0px;
        top:30px;
      }

      li {
        display: none;
        font-weight: 100;
        font-size: 40px;
        padding: 0px;
        margin: 10px 0;
        width: 100%;
        &:hover {
          background-color: #c19e7e;
          border-bottom: none;
          a{
            color: white;
          }
        }
        a {
          width: 100%;
          text-decoration: none;
          color: #4a3821;
          cursor: pointer;
        }

      }
    }
  }

  #contact {
    height: 150px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .phone{
      width: 80%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      .fa{
        text-align: right;
        font-size: 40px;
        width: 40%;
        color:#c19e7e;
        border: none;
        margin-right: 20px;
      }
      p{
        text-align: left;
        margin-top: 7px;
        font-size: 20px;
        width: 60%;
         color: #c19e7e;
      }
    }
    .mail{
      width: 80%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      .fa{
        margin-right: 20px;
        font-size: 40px;
        width: 40%;
        color:#c19e7e;
        border: none;
        text-align: right;
      }
      a{
        text-align: left;
        margin-top: 7px;
        font-size: 20px;
        width: 60%;
         color: #c19e7e;
         text-decoration: none;
         cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  #about {
    position: relative;
    height: 1000px;
    margin-top: -60px;
    padding-top: 60px;
    display: block;

    .info {
      margin-top: 60px;
      height: 500px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .img {
        background-image: url("../images/portret.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
        width: 70%;
        opacity: 0;
        position: relative;
        border-radius: 50%;
        box-shadow: 0 6px 7px grey;
        margin: 0 auto;
      }

      .aboutMe {
        width: 90%;
        height: 200px;
        position: relative;
        opacity: 0;
        text-align: justify;
        margin: 100px auto 0;
      }

      .in-view {
        animation: pokaz 3s forwards;
        z-index: 1;
      }

      .in-view2 {
        animation: pokaz2 2s 1s forwards;
        z-index: 1;
      }
    }
  }
  @keyframes pokaz {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes pokaz2 {
    0% {
      opacity: 0;
      right: -100px;
    }

    100% {
      opacity: 1;
      right: 0;
    }
  }
}
@media only screen and (max-width:1060px) {
  #architecture {
    height: 900px;

    .architecturePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 31%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        margin-top: 60px;
        max-width: 1920px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 250px;
          transform: translate(-435px,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 250px;
          right: 50%;
          transform: translate(447px,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(384px, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          position: relative;
          display: block;
          margin: 10px auto 0;
          width: 750px;
          height: 500px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
          cursor: default;
        }
      }

      .less,
      .more {
        cursor: pointer;
        color: #c19e7e;
        font-size: 145px;
        position: relative;
      }
      .more{
        bottom: 48px;
        left:15%;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        &:hover{
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
          transition: all 200ms ease-in;
          transform: scale(1.2);
        }
      }
      .less{
        bottom: 48px;
        left:71%;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        &:hover{
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
          transition: all 200ms ease-in;
          transform: scale(1.2);
        }
      }
    }
  }

  #landscape {
    height: 900px;

    .landscapePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 31%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        margin-top: 60px;
        max-width: 1920px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 250px;
          transform: translate(-435px,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 250px;
          right: 50%;
          transform: translate(447px,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(384px, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          position: relative;
          display: block;
          margin: 10px auto 0;
          width: 750px;
          height: 500px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
          cursor: default;
        }
      }
    }
  }
}
@media only screen and (max-width: 910px) {
  #architecture {
    height: 700px;

    .architecturePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 45%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        max-width: 1920px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 220px;
          transform: translate(-365px,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 220px;
          right: 50%;
          transform: translate(375px,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(314px, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          position: relative;
          display: block;
          margin: 10px auto;
          max-width: 600px;
          width: 90%;
          height: 100%;
          max-height: 400px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
          cursor: default;
        }
      }
    }
    .less,
    .more {
      cursor: pointer;
      color: #c19e7e;
      font-size: 145px;
      position: absolute;
    }
    .more{
      bottom: 20px;
      left:15%;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
        transform: scale(1.2);
      }
    }
    .less{
      height: 60px;
      width: 100px;
      bottom: 110px;
      left:80%;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
        transform: scale(1.2);
      }
    }

  }

  #landscape {
    height: 1300px;
    .landscapePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 45%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        max-width: 1920px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 220px;
          transform: translate(-365px,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 134px;
          z-index: 2;
          position: absolute;
          top: 220px;
          right: 50%;
          transform: translate(375px,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(314px, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          cursor: default;
          position: relative;
          display: block;
          margin: 10px auto ;
          max-width: 600px;
          max-height: 400px;
          width: 90%;
          height: 100%;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
        }
      }
    }
  }
  @media only screen and (max-width: 700px) {
    .parallax {
      margin: 0 auto;
      background-image: url("../images/banner_small.jpg");
      max-width: 700px;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      overflow: hidden;
    }

    .parallax2 {
      margin: 0 auto;
      background-image: url("../images/parallax1.jpg");
      max-width: 700px;
      width: 100%;
      height: 300px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      opacity: 0.5;
    }

    .parallax3 {
      margin: 0 auto;
      background-image: url("../images/parallax2.jpg");
      max-width: 700px;
      width: 100%;
      height: 300px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      opacity: 0.5;
    }
  }
}
@media only screen and (max-width: 500px){
  .parallax {
    margin:0 auto;
    padding: 0px;
    background-image: url("../images/banner_big.jpg");
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }
  #about {
    position: relative;
    height: 1100px;
    margin-top: -60px;
    padding-top: 60px;
    display: block;

    .info {
      margin-top: 60px;
      height: 500px;
      display: flex;
      justify-content: space-between;

      .img {
        margin: 0 auto;
        background-image: url("../images/portret.jpg");
        background-position: center;
        background-size: cover;
        height: 500px;
        width: 80%;
        opacity: 1;
        position: relative;
        border-radius: 50%;
        box-shadow: 0 6px 7px grey;
      }

      .aboutMe {
        margin: 0 auto;
        margin-top: 100px;
        width: 80%;
        height: 400px;
        position: relative;
        opacity: 1;
        text-align: justify;
      }

      .in-view {
        animation-play-state: paused;
        animation: pokaz 3s forwards;
        z-index: 1;
      }

      .in-view2 {
        animation-play-state: paused;
        animation: pokaz2 2s 1s forwards;
        z-index: 1;
      }
    }
  }
  @keyframes pokaz {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes pokaz2 {
    0% {
      opacity: 0;
      right: -100px;
    }

    100% {
      opacity: 1;
      right: 0;
    }
  }
  .parallax2 {
    margin: 0 auto;
    background-image: url("../images/parallax1.jpg");
    max-width: 500px;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.5;
  }

  #architecture {
    height: 1100px !important;

    .architecturePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 85%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        max-width: 500px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 92px;
          z-index: 2;
          position: absolute;
          top: 150px;
          transform: translate(-360%,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 92px;
          z-index: 2;
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translate(400%,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(320%, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          cursor: default;
          position: relative;
          display: block;
          margin: 10px auto;
          width: 90%;
          max-width: 600px;
          height: 100%;
          max-height: 300px;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
        }
      }
    }

    .less,
    .more {
      cursor: pointer;
      color: #c19e7e;
      font-size: 145px;
      position: relative;
    }
    .more{
      bottom: 48px;
      left:15%;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
      }
    }
    .less{
      bottom: 52px;
      left:34%;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
      }
    }
  }

  .parallax3 {
    margin: 0 auto;
    background-image: url("../images/parallax2.jpg");
    max-width: 1920px;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.5;
  }

  #landscape {
    height: 2200px;
    .landscapePics {
      text-decoration: none;
      padding-left: 30px;

      li {
        float: left;
        width: 85%;
        height: 200px;
        margin: 10px;
        display: none;
        list-style: none;
        text-decoration: none;
      }

      img {
        cursor: pointer;
        width: 100%;
        height: 200px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        box-shadow: 0 0 3px grey;

        &:hover {
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.05);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.05);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.05);
          transition: all 200ms ease-in;
          transform: scale(1.05);
          box-shadow: 0 0 6px grey;
        }
      }

      .big {
        margin: 0 auto;
        position: fixed;
        max-width: 500px;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: 2;
        transform: translateX(-50%);
        background: rgba(255,255,255,0.9);

        .prev {
          font-size: 92px;
          z-index: 2;
          position: absolute;
          top: 150px;
          transform: translate(-360%,-50%);
          left: 50%;
          color: #c19e7e;
          cursor: pointer;
          width: 60px;
        }

        .next {
          width: 60px;
          font-size: 92px;
          z-index: 2;
          position: absolute;
          top: 150px;
          right: 50%;
          transform: translate(400%,-50%);
          color: #c19e7e;
          cursor: pointer;
        }

        .cross {
          width: 60px;
          font-size: 55px;
          z-index: 5;
          position: absolute;
          top: 37px;
          right: 50%;
          transform: translate(320%, -50%);
          color: #c19e7e;
          cursor: pointer;
        }

        img {
          cursor: default;
          position: relative;
          display: block;
          margin: 10px auto;
          max-width: 600px;
          width: 90%;
          max-height: 300px;
          height: 100%;
          -webkit-transition: none;
          -webkit-transform: none;
          -ms-transition: none;
          -ms-transform: none;
          -moz-transition: none;
          -moz-transform: none;
          transition: none;
          transform: none;
          box-shadow: 0 0 10px grey;
        }
      }
    }

    .less,
    .more {
      cursor: pointer;
      text-align: center;
      font-size: 70px;
      width: 50px;
      color: #c19e7e;
    }

    .less:after,
    .more:after {
      clear: both;
      content: "";
      display: block;
    }

    .more {
      float: left;
      margin-left: 165px;
    }

    .less {
      float: right;
      margin-right: 165px;
      transform: rotate(180deg);
    }
  }
  .parallax4 {
    margin: 0 auto;
    background-image: url("../images/image24.jpg");
    max-width: 1920px;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.5;
  }


  footer{
    height: 150px;
    background-color: #c19e7e;
    .socialMedia{
      display: flex;
      justify-content: space-around;
      i{
        cursor: pointer;
        margin-top: 50px;
        font-size: 50px;
        color: white;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        &:hover{
          -webkit-transition: all 200ms ease-in;
          -webkit-transform: scale(1.2);
          -ms-transition: all 200ms ease-in;
          -ms-transform: scale(1.2);
          -moz-transition: all 200ms ease-in;
          -moz-transform: scale(1.2);
          transition: all 200ms ease-in;
          transform: scale(1.2);
        }
      }
    }
  }
}
